.contenedorDetalleProducto {
    background-color: #e0dfdc;
    height: 93vh;
}

.detalleProducto {
    display: grid;
    grid-template-areas:
        "img img datos datos"
        "img img datos datos"
        "precio precio bene bene"
        "precio precio bene bene";

    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: auto auto auto auto;
    justify-content: center;

    padding: 20px;
    background-color: white;
    border-radius: 10px 10px;
}

.imgDetalleProducto {
    grid-area: img;
    height: 350px;
    width: 450px;
}

.datosDetalleProducto {
    grid-area: datos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 650px;
}

.beneficioDetalleProducto {
    grid-area: bene;
}

.precioAgregarDetalleProducto {
    grid-area: precio;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nombreDetalleProducto {
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.descripcionDetalleProducto {
    font-size: 1.25rem;
    margin: 10px;
    font-style: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.tituloBeneficioDetalleProducto {
    font-size: 1.75rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.beneficiosDetalleProducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}