.contenedorDetallePerro {
    background-color: #e0dfdc;
}

html {
    background-color: #e0dfdc;
}

.detallePerro {
    display: grid;
    grid-template-areas:
        "img img datos datos"
        "img img datos datos";

    grid-template-columns: 3fr 3fr;
    grid-template-rows: auto auto auto auto;
    justify-content: center;

    padding: 20px;
    background-color: white;
    border-radius: 10px 10px;

}

.imgDetalle {
    border-radius: 15px 15px;
}

.imgDetallePerro {
    grid-area: img;
    height: 350px;
    width: 450px;
}

.datosDetallePerro {
    grid-area: datos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 650px;
}

.nombreDetallePerro {
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.descripcionDetallePerro {
    font-size: 1.25rem;
    margin: 10px;
    font-style: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.edadDetallePerro {
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.razaDetalleProducto {
    font-size: 1.25rem;
    margin: 10px;
    font-style: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}