.estilos {
    background-color: #FEBE10;
}

.navbar-collapse {
    flex-grow: 0;
}

.logo {
    border-radius: 80%;
    max-height: 55px;
}

.nav {
    align-items: center;
    justify-content: center;
}