html {
    background-color: white;
}

.cardProducto {
    width: 15rem;
    margin: 0.5rem;
    align-items: center;
    transition: all 400ms ease-in-out;
}

.cardProducto:hover {
    transform: scale(1.03);
}

#infoDatosProducto {
    height: 15rem;
}

.datosProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#precio {
    margin: 5px;
    padding: 5px;
}

#stock {
    margin: 2px;
    padding: 5px;
}

.buttonProducto {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}

#informacion {
    margin-top: 6px;
    margin-bottom: 2px;
}