html {
    background-color: white;
}

.cardProducto {
    width: 15rem;
    margin: 0.5rem;
    align-items: center;
    border-radius: 20px;
    transition: all .3s;
}

.cardProducto:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.938);
}

.card {
    background-color: #050505;
    transition: all .2s;
}

.card:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

#infoDatosProducto {
    height: 15rem;
}

.datosProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#precio {
    margin: 5px;
    padding: 5px;
}

#stock {
    margin: 2px;
    padding: 5px;
}

.buttonProducto {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}

#informacion {
    margin-top: 6px;
    margin-bottom: 2px;
}