* {
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
}

main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensajeExito {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 600px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    padding: 15px;
    border: 2px solid #f7f3f3;
    background-color: #fcfcfc;
    box-shadow: 20px 20px 40px rgba(7, 6, 6, 0.4)
}

.mensajeTitulo {
    font-style: italic;
    font-weight: initial;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.mensajeNumeroOrden {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif
}